/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

:root {
  /* ### Primary */
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --solid-orangey-yellow: #f5ede2;
  --solid-orangey-yellow2: #f0efee;
  --green-teal: #e7f2ef;
  --cobalt-blue: hsl(234, 85%, 45%);

  /* ## Gradients */
  --light-slate-blue: #7857ff;
  --light-royal-blue: #2e2be9;

  --violet-blue: #4e21ca;
  --persian-blue: #2421ca00;

  /* ### Neutral */
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray: hsl(224, 23%, 35%);
}

body {
  font-family: "Hanken Grotesk", sans-serif;
}

.container {
  display: flex;
  width: 600px;
  margin: 100px auto;
  border-radius: 30px;
  overflow: hidden;
}

.left-side-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;

  background: linear-gradient(180deg, #4e21ca 20%, #2e2be9 65%);
  color: var(--white);
  padding: 24px 32px;
}

.left-side-title {
  margin-bottom: 40px;
  color: var(--light-lavender);
}

.percent-cost {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-royal-blue);
  border-radius: 999px;
  width: 160px;
  height: 160px;
  background: linear-gradient(
    180deg,
    rgba(78, 33, 202, 1) 10%,
    rgba(46, 43, 233, 1) 70%
  );
}
.point {
  font-size: 50px;
  margin-top: 10px;
}
.hundred {
  font-size: 12px;
  margin-top: 10px;
  color: var(--light-lavender);
}

.info-content {
  text-align: center;
  margin-top: 50px;
}
.title {
  font-size: 20px;
}
.info-paragraph {
  font-size: 14px;
  margin-top: 10px;
  line-height: 20px;
  color: var(--light-lavender);
}

.right-side-content {
  flex: 1;
  padding: 24px 32px;
}
.right-side-title {
  margin-bottom: 20px;
  color: var(--dark-gray);
  font-weight: 800;
  font-size: 20px;
}
.statistics {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  border-radius: 8px;
  padding: 12px 16px;
}
.statistics-reaction {
  background-color: var(--solid-orangey-yellow2);
  
}

.statistics h4 {
  margin-right: auto;
}
.statistics img {
  margin-right: 10px;
}
.statistics h6 {
  font-size: 16px;
  justify-content: space-between;
}
.statistics strong {
  margin-right: 8px;
  color: var(--dark-gray);
  font-weight: 600;
  font-weight: 800;
}

.continue-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: none;
  background-color: var(--dark-gray);
  color: white;
  padding: 12px;
  width: 100%;
}

.continue-button:hover {
  cursor: pointer;
  background: linear-gradient(
    180deg,
    rgba(78, 33, 202, 1) 10%,
    rgba(46, 43, 233, 1) 70%
  );
}

h6 {
  color: var(--dark-gray);
  font-weight: 200;
}

.statistics-memory {
  background-color: var(--solid-orangey-yellow);
}

.statistics-verbal {
  background-color: var(--green-teal);
}

.statistics-visual {
  background-color: var(--pale-blue);
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    width: 350px;
  }
}
